html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input,
select,
textarea {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: inherit;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    line-height: normal;
    letter-spacing: -1px;
}

* {
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

body {
    font-size: 0;
    max-width: 100%;
    background: #FEEBFA;
    overflow: hidden;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    display: inline-block;
    cursor: pointer;
    line-height: inherit;
}

.bg_01 {
    background: #FEEBFA;
}


/* layout */

.wrap {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    padding-bottom: 20px;
}

.wrap.wrap2 {
    padding-bottom: 0;
}

.header {
    width: 100%;
    height: 70px;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    color: #3042CD;
    background: url(../img/logo-splash.png) no-repeat right bottom #FEEBFA;
    background-size: 123px auto;
}

.body {
    width: 100%;
    padding: 0 20px;
    position: relative;
}

.body2 {
    width: 100%;
    height: calc(100vh + 20px);
    padding: 0 20px;
    background: #FEEBFA;
}

.body.body3 {
    padding: 0px;
    height: calc(95vh);
}


/* UI */

.tap_bar {
    width: 100%;
    height: 85px;
    background: #fff;
    font-size: 12px;
    border-radius: 20px 20px 0 0;
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    padding: 20px 10px;
    z-index: 1000;
}

.tap_bar li {
    width: 19%;
    display: inline-block;
}

.tap_bar li a {
    width: 100%;
}

.tap_bar li .logo {
    background: url(../img/logo_tab.png) no-repeat center;
    background-size: auto 100%;
    width: 100%;
    height: 45px
}

.tap_bar li .icon {
    width: 100%;
    height: 24px;
}

.tap_bar li .icon.v01 {
    background: url(../img/tab-01.png) no-repeat center;
    background-size: 24px 24px;
}

.tap_bar li .icon.v02 {
    background: url(../img/tab-02.png) no-repeat center;
    background-size: 24px 24px;
}

.tap_bar li .icon.v03 {
    background: url(../img/tab-03.png) no-repeat center;
    background-size: 24px 24px;
}

.tap_bar li .icon.v04 {
    background: url(../img/tab-04.png) no-repeat center;
    background-size: 24px 24px;
}

.tap_bar li .label {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    color: #453B42;
}

.tap_bar li.on .icon.v01 {
    background: url(../img/tab-01-ac.png) no-repeat center;
    background-size: 24px 24px;
}

.tap_bar li.on .icon.v02 {
    background: url(../img/tab-02-ac.png) no-repeat center;
    background-size: 24px 24px;
}

.tap_bar li.on .icon.v03 {
    background: url(../img/tab-03-ac.png) no-repeat center;
    background-size: 24px 24px;
}

.tap_bar li.on .icon.v04 {
    background: url(../img/tab-04-ac.png) no-repeat center;
    background-size: 24px 24px;
}

.tap_bar li.on .label {
    color: #FF2BB9;
}


/*side_bar*/

.side_bar {
    width: 40px;
    position: fixed;
    right: 10px;
    bottom: 150px;
    box-shadow: 0 5px 10px 0 rgba(34, 43, 69, 0.15);
    z-index: 10;
}

.side_bar div {
    width: 40px;
    height: 40px;
    border-bottom: 1px solid #f0f0f0;
}

.side_bar div.tab {
    background: url(../img/btn_side_02.png) no-repeat center;
    background-size: 100%;
    border-radius: 10px 10px 0 0;
}

.side_bar div.tab2 {
    background: url(../img/btn_side_03.png) no-repeat center;
    background-size: 100%;
}

.side_bar div.tab3 {
    background: url(../img/btn_side_04.png) no-repeat center;
    background-size: 100%;
    border-bottom: 0;
}

.side_bar div.tab4 {
    background: url(../img/btn_side_02ac.png) no-repeat center;
    background-size: 100%;
    border-radius: 10px 10px 0 0;
}

.side_bar div.tab5 {
    background: url(../img/btn_side_03ac.png) no-repeat center;
    background-size: 100%;
    border-bottom: 0;
}

.side_bar div.tab6 {
    background: url(../img/btn_side_04ac.png) no-repeat center;
    background-size: 100%;
    border-bottom: 0;
}


/*.side_bar div.active:nth-child(1) {
    background: url(../img/btn_side_02ac.png) no-repeat center;
    background-size: 100%;
}

.side_bar div.active:nth-child(2) {
    background: url(../img/btn_side_03ac.png) no-repeat center;
    background-size: 100%;
}

.side_bar div.active:nth-child(3) {
    background: url(../img/btn_side_04ac.png) no-repeat center;
    background-size: 100%;
    border-radius: 0 0 10px 10px;
}*/


/* splash */

.splash {
    width: 100%;
    max-width: 720px;
    height: 100vh;
    margin: 0 auto;
    background: url(../img/logo-splash.png) no-repeat center;
    background-size: 50%;
}

.splash a {
    width: 100%;
    height: 100vh;
}


/* header */

.header .plogger {
    font-size: 10px;
    line-height: 15px;
}

.header .name {
    font-size: 28px;
    line-height: 40px;
    font-weight: bold;
}

.header.header2 {
    background: url(../img/logo-01.png) no-repeat #fff;
    background-position: 50% 20px;
    position: fixed;
    background-size: 110px auto;
    top: 0;
    left: 0;
    z-index: 10;
}

.header.header2 .back {
    width: 42px;
    height: 42px;
    border-bottom: 1px solid #fff;
    background: url(../img/icon-back-1.png) center no-repeat;
    background-size: 42px;
    position: absolute;
    top: 12px;
    left: 5px;
}


/* body */

.login {
    padding-top: 50px;
}

.login .img_box {
    width: 100%;
    padding-top: 150px;
    max-width: 420px;
    margin: 0 auto;
    background: url(../img/logo-02-1.png) no-repeat center top;
    background-size: 45%;
}

.login .input_box {
    width: 100%;
    margin-top: 14px;
}

.login .input_box .title {
    font-size: 12px;
    font-weight: normal;
    color: #FF2BB9;
}

.login .input_box .title:nth-child(3) {
    margin-top: 20px;
}

.login .input_box .input_data {
    margin-top: 0px;
}

.login .input_box .input_data input {
    width: 100%;
    background: none;
    border-bottom: 1px solid #f00;
    font-size: 18px;
    line-height: 28px;
    height: 40px;
    color: #3042CD;
    font-weight: bold;
}

.login .btn_login {
    margin-top: 15px;
}

.sns {
    margin-top: 15px;
}

.sns li {
    display: inline-block;
    width: 24%;
    text-align: center;
}

.sns li:nth-child(1) a {
    width: 50px;
    height: 50px;
    background: url(../img/sns-01.png) no-repeat center;
    background-size: 50px 50px;
}

.sns li:nth-child(2) a {
    width: 50px;
    height: 50px;
    background: url(../img/sns-02.png) no-repeat center;
    background-size: 50px 50px;
}

.sns li:nth-child(3) a {
    width: 50px;
    height: 50px;
    background: url(../img/sns-03.png) no-repeat center;
    background-size: 50px 50px;
}

.sns li:nth-child(4) a {
    width: 50px;
    height: 50px;
    background: url(../img/sns-04.png) no-repeat center;
    background-size: 50px 50px;
}

.list {
    width: 100%;
    padding-top: 20px;
}

.list .title {
    font-size: 18px;
    line-height: 28px;
    font-weight: normal;
    color: #fff;
}

.list .list_box .banner {
    margin-top: 10px;
    text-align: center;
}

.list .list_box .banner img {
    width: 100%;
    margin-left: 20px;
}

.list .list_box .list_01 {
    background: #fff;
    padding: 20px 0 0 0;
    border-radius: 10px;
    margin-top: 20px;
    display: block;
    position: relative;
}

.list .list_box .list_01 .list_img {
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 20px;
}

.list .list_box .list_01 .list_img img {
    width: 48px
}

.list .list_box .list_01 .list_title {
    display: inline-block;
    font-size: 18px;
    line-height: 1.5em;
    padding-left: 20px;
}

.list .list_box .list_01 .arrow {
    width: 23px;
    height: 13px;
    background: url(../img/arrow.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 37px;
    right: 20px;
}

.list .list_box .list_01 .arrow.active {
    background: url(../img/arrow-active.png) no-repeat;
    background-size: 100% 100%;
}

.list .list_box .list_01 .list_dtl {
    border-top: 1px solid #f0f0f0;
    font-size: 12px;
    display: flex;
    padding: 10px 20px;
}

.list .list_box .list_01 .list_dtl:last-child {
    border-radius: 20px 20px;
}

.list .list_box .list_01 .list_dtl .num {
    width: 48px;
    height: 22px;
    line-height: 24px;
    text-align: center;
    color: #fff;
    background: #3042CD;
    border-radius: 8px;
}

.list .list_box .list_01 .list_dtl .txt {
    line-height: 24px;
    padding-left: 20px
}

.del_pad {
    padding: 0 !important;
}

.map2 {
    width: 100%;
    height: 100%;
    position: relative;
}

.map2 .map_img img {
    width: 100%
}

.map2 .gradi {
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background-blend-mode: overlay;
    background-image: linear-gradient(179deg, #3042CD 24%, #FF2BB9 104%);
    position: absolute;
    top: 0;
    left: 0;
}

.map2 .mak {
    width: 45px;
    height: 56px;
    background: url(../img/icon-mk.png) no-repeat center;
    background-size: 45px 56px;
    position: absolute;
    top: 30%;
    /* bottom: 50%;
    left: calc(50% - 10px); */
    right: 20%;
}

.map2 .mak2 {
    width: 45px;
    height: 56px;
    background: url(../img/icon-mk2.png) no-repeat center;
    background-size: 45px 56px;
    position: absolute;
    top: 50%;
    /* bottom: 50%;
    left: calc(50% - 10px); */
    right: 70%;
}

.map2 .mak3 {
    width: 45px;
    height: 56px;
    background: url(../img/icon-mk3.png) no-repeat center top;
    background-size: 45px 56px;
    position: absolute;
    top: 40%;
    /* bottom: 50%;
    left: calc(50% - 10px); */
    right: 80%;
}

.img_area {
    width: 100%;
    padding-bottom: 70px;
}

.img_area img {
    width: 100%;
}

.modal {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.modal .modal_bg {
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.2;
    z-index: 101;
}

.modal .modal-dialog {
    width: 200px;
    height: 200px;
    padding: 20px;
    border-radius: 20px;
    /* box-shadow: 0 4px 17px 0 rgba(92, 96, 150, 0.16); */
    /*top: 80px;*/
    background-color: #FFFFFF;
    bottom: 0px;
    right: 90px;
    z-index: 102;
}

.modal .modal-dialog .title {
    width: 140px;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    color: #1F2D3D;
    position: absolute;
    white-space: initial;
}

.modal .modal-dialog .btn_close {
    width: 24px;
    height: 24px;
    background: url(../img/btn-modal-close.png) no-repeat center;
    background-size: 24px;
    position: absolute;
    right: 20px;
    z-index: 110;
}


/*.modal .modal-dialog .when {
    font-size: 14px;
    line-height: 20px;
    line-height: normal;
    color: #8492A6;
    margin-top: 9px;
}

.modal .modal-dialog .when .time {
    display: inline-block;
    width: 40px;
}

.modal .modal-dialog .when .dtl {
    display: inline-block;
    font-size: 14px;
    color: #FF4949;
}*/

.modal .modal-dialog .location {
    width: 150px;
    line-height: 18px;
    background: url(../img/icon_mk_sm.png) no-repeat left center;
    background-size: 12px auto;
    padding-left: 20px;
    font-size: 12px;
    color: #1F2D3D;
    position: absolute;
    white-space: initial;
    bottom: 80px;
}

.modal .modal-dialog .btn_box {
    width: calc(100% - 40px);
    position: absolute;
    bottom: 20px;
}


/* 버튼 */

.btn_big {
    width: 100%;
    border-radius: 8px;
    background-color: #FF2BB9;
    border: 0;
    font-size: 20px;
    color: #fff;
    line-height: 48px;
    text-align: center;
}


/* text */


/* responsive 

@media screen and (max-width: 768px) {
    .modal .modal-dialog {
        width: 768px;
        top: 492px;
        left: 0px;
    }
}

@media screen and (max-width: 420px) {
    .modal .modal-dialog {
        width: 420px;
        top: 492px;
        left: 0px;
    }
}

@media screen and (max-width: 414px) {
    .modal .modal-dialog {
        width: 414px;
        top: 492px;
        left: 0px;
    }
}

@media screen and (max-width: 375px) {
    .modal .modal-dialog {
        width: 375px;
        top: 492px;
        left: 0px;
    }
}

@media screen and (max-width: 360px) {
    .modal .modal-dialog {
        width: 360px;
        top: 492px;
        left: 0px;
    }
}*/